annotated-types==0.6.0
asgiref==3.7.2
async-timeout==4.0.3
beautifulsoup4==4.12.3
coverage==7.4.4
crispy-bootstrap5==2024.2
Django==5.0
django-admin-rangefilter==0.12.0
django-bootstrap-datepicker-plus==5.0.5
django-ckeditor==6.7.1
django-cleanup==8.0.0
django-colorfield==0.11.0
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-js-asset==2.2.0
django-phonenumber-field==7.3.0
django-ranged-response==0.2.0
django-simple-captcha==0.6.0
icalendar==5.0.11
phonenumberslite==8.13.31
Pillow==10.1.0
psycopg==3.1.14
psycopg-binary==3.1.14
pydantic==2.6.0
pydantic_core==2.16.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
