.custom-background {
  background-attachment: fixed;
  background-position: center;
  position: relative;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}

.custom-description p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.custom-card {
  max-width: 300px;
}

.custom-pagination>li>button:focus {
  outline: none;
  box-shadow: none;
}