<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'e5_app/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'e5_app/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Jquery -->
    <script src="{% static 'e5_app/jquery/jquery-3.7.1.min.js' %}" type="text/javascript"></script>

    <!-- Custom -->
    <link href="{% static 'e5_app/frontend/css/main.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'e5_app/frontend/images/main_icon.png' %}" type="image/x-icon">
    {% block head %}{% endblock %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>


<nav class="navbar sticky-top navbar-expand-lg bg-light-subtle" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'e5_app/frontend/images/main_icon.png' %}" alt="Кафедра Э-5"
                 width="40" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'news' %}">Новости</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Абитуриентам
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Учебные программы курсов</a></li>
                        <li><a class="dropdown-item" href="#">Учебные программы магистров</a></li>
                        <li><a class="dropdown-item" href="#">Аспирантура</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Мероприятия в МГТУ кафедры Э5</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Студентам
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Расписание</a></li>
                        <li><a class="dropdown-item" href="#">Рабочий учебный план</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Рекомендации по оформлению работ</a></li>
                        <li><a class="dropdown-item" href="#">Темы дипломов и ВКР</a></li>
                        <li><a class="dropdown-item" href="#">Темы проектов и НИР</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        О кафедре
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">История кафедры</a></li>
                        <li><a class="dropdown-item" href="#">Основные направления развития</a></li>
                        <li><a class="dropdown-item" href="#">Наши разработки</a></li>
                        <li><a class="dropdown-item" href="#">Преподаватели</a></li>
                        <li><a class="dropdown-item" href="#">Выпускники Э-5</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Бессмертный полк</a></li>
                        <li><a class="dropdown-item" href="#">Студенческие достижения</a></li>
                        <li><a class="dropdown-item" href="#">Наши партнеры</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Вакансии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Мероприятия</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Контакты</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Найти</button>
            </form>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<footer class="bg-light-subtle text-center text-white" data-bs-theme="dark">
    <div class="container">
        <!-- Vk -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://vk.com/kafedra_e5" role="button">
            <img src="{% static 'e5_app/frontend/images/vk_icon.png' %}" alt="Вконтакте"
                 style="width:40px;height:40px;">
        </a>
        <!-- Youtube-->
        <a class="btn btn-outline-dark btn-floating m-1 btn-social-icon"
           href="https://www.youtube.com/channel/UC2zKy154i-Z01BJgu_bMPBQ" role="button">
            <img src="{% static 'e5_app/frontend/images/youtube_icon.png' %}" alt="Ютуб"
                 style="width:40px;height:40px;color:white;">
        </a>
    </div>
    <!-- Copyright -->
    <div class="text-end pe-3" style="background-color: rgba(0, 0, 0, 0.2);">
        105005, Москва, 2-я Бауманская ул., 5. МГТУ им. Н.Э.Баумана
    </div>
    <div class="text-end pe-3" style="background-color: rgba(0, 0, 0, 0.2);">
        8 (499) 263-62-64
    </div>
    <div class="text-start ps-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Авторские права © 2024 Кафедра Э-5 Все права защищены.
    </div>
</footer>

</body>
