<div class="input-group dbdp">
    <span class="input-group-text"></span>
    {% include 'django/forms/widgets/text.html' %}
    <div class="input-group-addon input-group-append input-group-text">
        <i class="{{ addon_icon_class }}"></i>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var spanElement_1 = document.querySelector("#div_id_start_date .input-group-text");
        spanElement_1.textContent = "От";

        var spanElement_2 = document.querySelector("#div_id_end_date .input-group-text");
        spanElement_2.textContent = "До";

        $('.dbdp').addClass('justify-content-center');
    });
</script>