{% load static %}
<!-- Bootstrap -->
<link href="{% static 'e5_app/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'e5_app/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom -->
<link href="{% static 'e5_app/frontend/css/main.css' %}" rel="stylesheet">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кафедра Э-5</title>
</head>
<body>


<nav class="navbar navbar-expand-lg bg-light-subtle" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'e5_app/frontend/images/main_icon.png' %}" alt="Bootstrap"
                 width="40" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Новости</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Абитуриентам
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Учебные программы курсов</a></li>
                        <li><a class="dropdown-item" href="#">Учебные программы магистров</a></li>
                        <li><a class="dropdown-item" href="#">Аспирантура</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Мероприятия в МГТУ кафедры Э5</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Студентам
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Расписание</a></li>
                        <li><a class="dropdown-item" href="#">Рабочий учебный план</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Рекомендации по оформлению работ</a></li>
                        <li><a class="dropdown-item" href="#">Темы дипломов и ВКР</a></li>
                        <li><a class="dropdown-item" href="#">Темы проектов и НИР</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        О кафедре
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">История кафедры</a></li>
                        <li><a class="dropdown-item" href="#">Основные направления развития</a></li>
                        <li><a class="dropdown-item" href="#">Наши разработки</a></li>
                        <li><a class="dropdown-item" href="#">Преподаватели</a></li>
                        <li><a class="dropdown-item" href="#">Выпускники Э-5</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Бессмертный полк</a></li>
                        <li><a class="dropdown-item" href="#">Студенческие достижения</a></li>
                        <li><a class="dropdown-item" href="#">Наши партнеры</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Вакансии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Мероприятия</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Контакты</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Найти</button>
            </form>
        </div>
    </div>
</nav>


<header>
    <div class="position-relative custom-background">
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0, 0, 0, 0.6)"></div>
        <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
            <h1>Кафедра Э-5 «Вакуумная и компрессорная техника»</h1>
            <p>Кафедра ведет подготовку универсальных специалистов в области создания систем для повышения давления и
                транспорта воздуха и газов, а также уникальных специалистов по разработке вакуумной техники.</p>
        </div>
    </div>
</header>

<main>
    <div class="container-fluid text-center">
        <h1>Новости</h1>
        <div class="row g-4">

            {% for news in news_pg.object_list %}
            <div class="col-xl-3 col-sm-6">
                <div class="card custom-card mx-auto h-100">
                    {% if not news.picture %}
                     <img src="{% static 'e5_app/frontend/images/news_default.png' %}"
                         class="card-img-top card-img-top-custom" alt="...">
                    {% else %}
                    <img src="{{ news.picture.url }}"
                         class="card-img-top card-img-top-custom" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ news.name }}</h5>
                        <p class="card-text">{{ news.description|truncatewords:17  }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>

                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">{{ news.created_at }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>

    </script>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if news_pg.has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'index' %}" aria-label="Previous">&laquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous">&laquo;</a></li>
            {% endif %}


            <li class="page-item"><a class="page-link" href="#">1</a></li>

            <li class="page-item"><a class="page-link" href="#">2</a></li>

            <li class="page-item"><a class="page-link" href="#">3</a></li>


            {% if news_pg.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ news_pg.paginator.num_pages|safe }}" aria-label="Next">&raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>


</main>


<footer class="bg-light-subtle text-center text-white" data-bs-theme="dark">
    <div class="container">
        <!-- Vk -->
        <a class="btn btn-outline-dark btn-floating m-1" href="https://vk.com/kafedra_e5" role="button">
            <img src="{% static 'e5_app/frontend/images/vk_icon.png' %}" alt="Вконтакте"
                 style="width:40px;height:40px;">
        </a>
        <!-- Youtube-->
        <a class="btn btn-outline-dark btn-floating m-1 btn-social-icon"
           href="https://www.youtube.com/channel/UC2zKy154i-Z01BJgu_bMPBQ" role="button">
            <img src="{% static 'e5_app/frontend/images/youtube_icon.png' %}" alt="Ютуб"
                 style="width:40px;height:40px;color:white;">
        </a>
    </div>
    <!-- Copyright -->
    <div class="text-end pe-3" style="background-color: rgba(0, 0, 0, 0.2);">
        105005, Москва, 2-я Бауманская ул., 5. МГТУ им. Н.Э.Баумана
    </div>
    <div class="text-end pe-3" style="background-color: rgba(0, 0, 0, 0.2);">
        8 (499) 263-62-64
    </div>
    <div class="text-start ps-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Авторские права © 2024 Кафедра Э-5 Все права защищены.
    </div>
</footer>

</body>
