.custom-nav {
    border-radius: 30px !important;
    border: 2px solid transparent;
}

.custom-nav.active {
    background-color: var(--bs-gray-500) !important;
}

.custom-nav:hover {
    border: 2px solid #7d7d7d3b;
    border-color: var(--bs-gray-600) !important;
}
.custom-link {
    text-decoration: none;
}
.custom-link:hover{
    color: var(--bs-blue) !important;
}
.custom-btn{
    color: black !important;
    border-color: var(--bs-gray-600) !important;
}
.custom-btn:hover{
    background-color: var(--bs-gray-500) !important;
}
.custom-date{
    flex: 0 0 6em !important;
    text-align: center;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    all:initial;
}
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    all:initial;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
    all:initial;
}
.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
    all:initial;
}
.bootstrap-datetimepicker-widget.dropdown-menu{
    inset: auto auto 40px auto !important;
}
.custom-iframe{
    max-width: 100%;
}
.custom-image{
    flex-shrink: 0 !important;
    width: 200px;
    max-width: 100%;
    height: 200px;
}
.custom-p{
}