{% extends "./base.html" %}
{% block head %}
  {% load static %}
  {% load e5_app_extras %}
{% endblock head %}
{% block title %}
  Основные направления
  развития - Кафедра Э-5
{% endblock title %}
{% block content %}
  <div class="container">
    <h1 class="entry-title text-center my-3">Основные направления развития</h1>
    <h4>Научные направления и специализации</h4>
    <p>
      Научное направление и специализацию «компрессорные машины и установки» основал В.Д. Лубенец, сегодня ее возглавляет
      к.т.н., доцент И.В. Автономова. В рамках данного направления под руководством к.т.н., доцента Сергеева В.Н. создана
      теория расчета и разработан ряд вакуум-компрессоров вихревого типа. Вихревые компрессоры прошли испытания,
      сертифицированы и серийно производятся. Данные изделия отличатся высокими техническими и потребительскими
      характеристиками и пользуются устойчивым спросом на рынке экологически чистых компрессоров.
    </p>
    {% directions_tag 1 4 'Направления' 'directions' %}
    <p>
      Научное направление и специализацию «вакуумные машины и установки» основала к.т.н., доцент Е.Е. Соколова. Сегодня ее
      возглавляет к.т.н., доцент Н.К. Никулин. Преподавателями кафедры разработана теория расчета и оптимизации параметров
      высоковакуумных турбомолекулярных насосов. С их непосредственным участием разработаны конструкции и изготовлены
      турбомолекулярные вакуумные насосы ТМНГ600 и НВТ3500, предназначенные для использования в системах специального
      назначения и обладающие высокими техническими характеристиками. На кафедре создана теория расчета и ведутся работы
      по разработке конструкции и подготовке производства уникального вакуумного насоса, работающего в
      молекулярно-вязкостном режиме МВВН5. Данная машина обладает высокими техническими характеристиками и
      конкурентоспособна на рынке вакуумной техники.
    </p>
    {% directions_tag 4 7 'Направления' 'directions' %}
    <p>
      Научное направление и специализацию «пневмосистемы и пневмоагрегаты» основал к.т.н., доцент Л.В. Мышляев. Сегодня ее
      возглавляет д.т.н., профессор А.В. Чернышев. Основным направлением научной деятельности являлось создание теории
      расчета, методики анализа и синтеза и разработка пневмомеханических исполнительных устройств бортового назначения.
      Большое количество исполнительных устройств и агрегатов пневматических систем, разработанных при непосредственном
      участии преподавателей и сотрудников кафедры серийно производятся и эксплуатируются в составе российских
      ракетно-космических и авиационных комплексов. На базе созданной теории разработана конструкция и серийно
      производятся вибробезопасные отбойные молотки, лицензия на производство которых продана в ряде стран. Одним из новых
      приложений знаний преподавателей кафедры является создание теории расчета и разработка пневмомеханических
      исполнительных устройств, которые широко применяются в таких областях как генная инженерия и
      молекулярно-генетические исследования, в том числе методом полимеразной цепной реакции. Созданное оборудование
      прошло полный комплекс испытаний, внесено в государственный реестр изделий медицинского назначения, рекомендовано к
      серийному производству и применению в медицинской практике в РФ. Оборудование серийно производится и поставляется в
      российские и зарубежные исследовательские и медицинские учреждения.
    </p>
    {% directions_tag 7 13 'Направления' 'directions' %}
    <h4>Партнеры кафедры</h4>
    <p>
      Кафедра поддерживает тесные научно-педагогические связи с ведущими университетами России. Это прежде всего МГУ им.
      Ломоносова, Санкт Петербургский государственный политехнический университет, Краснодарский технический университет,
      Казанский государственный технологический университет, Омский государственный технический университет. Имеются также
      традиционные научные связи с целым рядом ведущих зарубежных университетов, в том числе Голландии, Великобритании,
      Германии, Франции, Словакии, США и Украины. Кафедра плотно сотрудничает с Российскими и зарубежными промышленными
      предприятиями, такими как РКК «Энергия», НПО им Лавочкина, НПО «Факел», Компрессорный завод «Борец», ВНИИХолодмаш,
      ФГУП НИИВТ им. С.А. Векшинского, ОАО «Криогенмаш», ЗАО «Энекон», НПО «Аркон», ЗАО «Atlas Copco», Украинская
      ассоциация производителей технических газов и многие др.
    </p>
    <h4>Публикации</h4>
    <p>
      Преподавателями кафедры опубликовано более тысячи научных статей, получено более двухсот авторских свидетельств и
      патентов на изобретения. Только за последние годы были изданы такие учебники как: «Поршневые компрессоры. Том 1» и
      «Поршневые компрессоры. Том 2», «Вакуумная Техника. Справочник», «Вакуумная электроника. Часть 1», «Оптимизация
      высоковакуумных механических насосов».
    </p>
    <h4>Оснащение</h4>
    {% directions_tag 1 2 'Оснащения' 'equipment' %}
    <p>
      В вакуумной лаборатории создана установка для исследования турбомолекулярного вакуумного насоса в режиме удаленного
      доступа.Учебные и исследовательские лаборатории кафедры оснащены современным оборудованием и лабораторными стендами.
    </p>
    <p>
      На кафедре организована лаборатория 3D моделирования и быстрого прототипирования, оснащенная современным
      оборудованием, в том числе 3D принтером Z-450 (компании Z-Сorporation США).
    </p>
    <h4>Научно-исследовательская работа студентов</h4>
    {% directions_tag 1 4 'Студенты' 'students' %}
    <p>
      Современные методы обучения дополняются самостоятельной научно-исследовательской работой студентов по конкретным
      инженерным проблемам. Студенты кафедры принимают активное участие в научно-исследовательских и
      опытно-конструкторских работах. На кафедре действует студенческий вычислительный центр и студенческое
      конструкторское бюро. Курсовые научно-исследовательские работы, курсовые и дипломные проекты, выполняемые,
      студентами кафедры с 2010 года включают раздел 3D моделирования и изготовление макета установки на 3D принтере
      Z-450.
      <br />
    </p>
    {% directions_tag 4 7 'Студенты' 'students' %}
  </div>
{% endblock content %}
