{% extends './base.html' %} {% block head %} {% load static %} {% endblock %} {% block title %}Учебные программы курсов
- Кафедра Э-5{% endblock %} {% block content %}
<div class="container">
  <h1 class="entry-title text-center my-3">Учебная программа и направления подготовки</h1>
  <h4>Учебные дисциплины кафедры Э-5</h4>
  <ul>
    <li>Основы вакуумной техники.</li>
    <li>Высоковаккумные и низковакуумные насосы.</li>
    <li>Автоматизированные вакуумные агрегаты.</li>
    <li>Молекулярные потоки в высоковакуумных системах.</li>
    <li>Математическое моделирование вакуумных систем.</li>
    <li>Немеханические высоковакуумные средства откачки.</li>
    <li>Теория и расчёт вакуумного и электропневмомеханического оборудования.</li>
    <li>Теория, расчет и конструирование машин динамического действия.</li>
    <li>Теория, расчет и конструирование поршневых компрессоров.</li>
    <li>Теория, расчет и конструирование ротационных компрессоров.</li>
    <li>Специальные вопросы проектирования и исследования компрессоров.</li>
    <li>Пневмосистемы и их элементы.</li>
    <li>Компрессоры и аппараты холодильной техники.</li>
    <li>Компрессоры и аппараты криогенной техники.</li>
    <li>Защита интеллектуальной собственности.</li>
  </ul>
  <h4>Направления подготовки на кафедре Э5:</h4>
  <h5 class="fw-bolder text-center text-md-start">Вакуумная техника</h5>
  <div class="row align-items-center my-1">
    <div class="col-md-3 text-center">
      <img
        src="{% static 'e5_app/frontend/programs/program1.png' %}"
        style="max-width: 150px; height: auto; width: 100%"
        alt="Вакуумная техника"
      />
    </div>
    <div class="col-md-9 text-center text-md-start">
      <p>
        Вакуумная техника для обеспечения высокотехнологичных производств (микроэлектроники); исследований в физике
        элементарных частиц, биотехнологий, анализа поверхностей, моделирования космических условий и др.<br />
        Исследование и математическое моделирование физических процессов в вакууме, разработка средств получения вакуума
        и вакуумных систем.
      </p>
    </div>
  </div>
  <h5 class="fw-bolder text-center text-md-start">Компрессорная техника</h5>
  <div class="row align-items-center my-1">
    <div class="col-md-3 text-center">
      <img
        src="{% static 'e5_app/frontend/programs/program2.png' %}"
        style="max-width: 150px; height: auto; width: 100%"
        alt="Компрессорная техника"
      />
    </div>
    <div class="col-md-9 text-center text-md-start">
      <p>
        Компрессорная техника для предприятий машиностроения, нефтехимии и нефтепереработки, пищевой и фармацевтической
        промышленности, строительной индустрии, добычи, транспортировки и сжижения природного газа.<br />
        Специальное применение в медицине, МЧС и различных системах жизнеобеспечения.
      </p>
    </div>
  </div>
  <h5 class="fw-bolder text-center text-md-start">Пневмоагрегаты и пневмосистемы</h5>
  <div class="row align-items-center my-1">
    <div class="col-md-3 text-center">
      <img
        src="{% static 'e5_app/frontend/programs/program3.png' %}"
        style="max-width: 150px; height: auto; width: 100%"
        alt="Пневмоагрегаты и пневмосистемы"
      />
    </div>
    <div class="col-md-9 text-center text-md-start">
      <p>
        Пневмогидравлические системы управления аэрокосмической техникой, пневмооборудование биомедицинского назначения
        (в т.ч. для ПЦР), нефте- и газотранспортные системы, новые технологии арматуростроения, разработка цифровых
        моделей процессов, 3D-моделирование и макетирование экспериментальных стендов.
      </p>
    </div>
  </div>
  <h5 class="fw-bolder text-center text-md-start">Проектирование нефтегазовых комплексов</h5>
  <div class="row align-items-center my-1">
    <div class="col-md-3 text-center">
      <img
        src="{% static 'e5_app/frontend/programs/program4.png' %}"
        style="max-width: 150px; height: auto; width: 100%"
        alt="Проектирование нефтегазовых комплексов"
      />
    </div>
    <div class="col-md-9 text-center text-md-start">
      <p>
        <strong>Подготовка магистров</strong> для работы в различных областях нефтегазовой отрасли, обладающих
        профессиональными знаниями и навыками, необходимыми для исследования, проектирования и эксплуатации
        высокоэффективного оборудования, используемого в нефтегазовом комплексе.
      </p>
    </div>
  </div>
</div>
{% endblock %}
